.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.signup_form {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 1rem;
  align-items: center;
  max-width: 800px;
  margin: 125px auto;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  height: 100%;
  width: 50%;
  box-shadow:10px 10px 10px 10px rgba(0,0,0,0.06);
}

.register_to_login{
  font-weight: normal;
  margin-top: 2px;
  
}

.need_account{
  font-weight: normal;
  margin-top: 2px;
  margin-bottom: 100px;
}

.form-title{
  margin-bottom: 2px;
}

.signin_form {
  border: #282c34;
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 2rem;
  align-items: center;
  max-width: 800px;
  margin: 125px auto;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  height: 100%;
  width: 50%;
  box-shadow:10px 10px 10px 10px rgba(0,0,0,0.06);
}

img {
  
  max-width: 100%;
  height: 100%;
}

@media (max-width: 650px) {
  body {
    display: block;
    font-size: 80%;
  }
  p {
    position: relative;
    margin: -3rem 0 2rem 1rem;
    padding: 1rem;
    background: rgba(white, 0.8);
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
  /* background-image: url('/images/img-2.jpg'); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  /* background-image: url('/images/img-1.jpg'); */
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

